body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;    
}

main {
    height: 100vh;
    display: flex;
    background-image: url('./coffee2.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}


.connection-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection-container h3,
.connection-container p {
    margin-right: 10px;
}

.text-danger {
        margin-top: 10px; 
}

.text-success {
        margin-top: 10px; 
}


.buttons-container {
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
}

.start-button {
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    border: 5px solid white; /* Added border */
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.start-button:active {
    background-color: rgb(166, 237, 13);
}

.camera-container {
    position: relative;
    margin-top: 20px;
    margin-left: 500px; 
}

#robotCamera {
    margin-bottom: 10px;
    position: absolute;
    border: 1px solid #ddd;
    height: 400px;
    width: 640px;
}


